<!--FOOTTERR--->
           
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
   
      <h5>Today's Date : {{date_today | date:'long' | uppercase}}</h5>
      <h4>Contact: 9036840786</h4>
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNjYzMjM4MjA4LCJjYWxsc2l0ZV9pZCI6MjY5NTQ4NDUzMDcyMDk1MX0%3D" role="button"
        ><i class="fab fa-facebook-f"></i>
      </a>

      <!-- linkdin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/all-brand-cars" role="button"
        ><i class="fab fa-twitter"></i>
      </a>
      <!-- google -->
      
      <a class="btn btn-outline-light btn-floating m-1" href="" role="button"
        ><i class="fab fa-google"></i>
      </a>

      <!-- insta -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/brandcars.nl/?hl=en" role="button"
        ><i class="fab fa-instagram"></i>
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i>
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://www.topspeed.com/cars/makes/">Brands Cars.com</a>
  </div>
  <!-- Copyright -->
</footer>


