<div class="container">
    <div class="row">
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" src="https://wallpaperaccess.com/full/40045.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Lamborghini</h5>
            <p class="card-text">The Lamborghini Aventador has 1 Petrol Engine on offer. The Petrol engine is 6498 cc .
                 It is available with Automatic transmission.Depending upon the variant and fuel type the Aventador
                 has a mileage of 7.69 kmpl & Ground clearance of Aventador is 125mm. The Aventador is a 2 seater 12 cylinder
                 car and has length of 4868mm, width of 2273mm. </p>
                 <br>
            <button type="button" class="btn btn-info">
              Available In <span class="badge bg-success">3 Months</span>
            </button>
            &nbsp; &nbsp; <br><br>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
             <a href="https://www.lamborghini.com/en-en" style="color: black;"> Pre Book </a>
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" src="https://wallpaperaccess.com/full/40047.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Benz</h5>
            <p class="card-text">Fuel TypePetrolPetrol Mileage (ARAI)7.69Petrol Fuel Tank Capacity
                 (Litres)90.0Emission Norm ComplianceBS VITop Speed (Kmph)355  of cylinder12Max Power (bhp@rpm)759.01bhp@8500rpmMax Torque (nm@rpm)720Nm@6750rpmSeating
                 Capacity2TransmissionTypeAutomaticBoot Space.</p>
                 <br>  
            <button type="button" class="btn btn-info">
              Available In <span class="badge bg-success">9 Months</span>
            </button>
            &nbsp; &nbsp; <br><br>
            
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
             
                <a href="https://myaudi.in/en/store/items/43/book-my-audi" style="color: black;">  Pre Book </a>
            </button>
          </div>
        </div>
      </div>
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/news/2020/07_01_lambo_day/lambo_day_03_m.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Audi</h5>
            <p class="card-text">Engine TypeV12, 60°, MPI Petrol EngineDisplacement (cc)6498Max Power759.01bhp@8500rpmMax
                 Torque720Nm@6750rpmNo. of cylinder12Valves Per Cylinder4Valve ConfigurationDOHCFuel
                 Supply SystemMPIBore X Stroke95mmx76.4mmCompression Ratio11.8:2Super ChargeTransmissionTypeAutomatic</p>

                 <br>  <br>
            <button type="button" class="btn btn-info">
                Available In <span class="badge bg-success">5 Months</span>
                <br>
            </button>
            &nbsp; &nbsp; <br><br>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Pre Book
            </button>
          </div>
        </div>
      </div>

      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem;">
          <img class="card_img" src="https://wallpaper.dog/large/10801474.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">BMW</h5>
            <p class="card-text">ARAI Mileage7.69 kmplCity Mileage3.22 kmplFuel TypePetrolEngine Displacement 
                (cc)6498No. of cylinder12Max Power (bhp@rpm)759.01bhp@8500rpmMax Torque (nm@rpm)720Nm@6750rpmSeating
                 Capacity2TransmissionTypeAutomaticBoot Space
                 </p>
                 <br>
            <button type="button" class="btn btn-info">
              Available In <span class="badge bg-success">2 Months</span>
              <br>
            </button>
            &nbsp; &nbsp; <br><br>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Pre Book
            </button>
          </div>
        </div>
      </div>
      </div>
      </div>

  
      <br>
      <br>
      
      <app-footer></app-footer>           