<!--fetch all the records from foreign property foreign.json-->

<marquee><h1>Foreign Brands</h1></marquee> 
<div style="margin-top: 30px;">
    <div class="row">
      

        <!--1nd column-->
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="card col-lg-8" style="border:none;margin-top: 30px;">
            <app-foreign-mid></app-foreign-mid>
        </div>

        <!--2rd column-->
        <div class="col col-lg-3">
            <app-foreign-vido></app-foreign-vido>
    </div>
</div>-->


<app-footer></app-footer>