<div class="mt-5">
    <div class="col-md-12 min-vh-100 d-flex flex-column">
        <div class="login-form">
            <form class="mt-5" [formGroup]="myForm" (ngSubmit)="submitHandler()">
                <h2 class="text-center secondary ms-mb-m main-heading ng-binding">Signup with Car Brands</h2>
                <br>

               <!-- <div class="form-group">
                    <input type="text" class="form-control" name="username" formControlName="username"
                        placeholder="Enter Username">
                    <label class="error ng-binding" *ngIf="submitted && f['username'].invalid">Name is required
                    </label>
                </div>
                <br>


                <div class="form-group">
                    <input type="email" class="form-control" name="useremail" formControlName="useremail"
                        placeholder="Enter email">
                    <label class="error ng-binding" *ngIf="submitted && f['useremail'].invalid">Email is required
                        </label>
                    <label class="error ng-binding" *ngIf="submitted && f['useremail'].errors?.['useremail']">Email must
                        be a
                        valid email address</label>
                </div>
                <br>


                <div class="form-group">
                    <input type="password" class="form-control" name="password" formControlName="password"
                        placeholder="Enter password">
                    <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['password']">Password is
                        required</label>
                    <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['minlength']">Password
                        must be at least 6 characters</label>
                </div>
                <br>


                <div class="form-group">
                    <input type="text" class="form-control" name="mobile" formControlName="mobile"
                        placeholder="Enter Mobile number">
                    <label class="error ng-binding" *ngIf="submitted && f['mobile'].errors?.['required']">Mobile number
                        is
                        required</label>

                </div>
                <br>--->



            <!--Property Binding-->
<!--<form [formGroup]="myForm" novalidate>-->
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" placeholder="Enter firstname" formControlName="firstname"
            [ngClass]="{'is-invalid':firstname.errors && (firstname.touched||firstname.dirty),'is-valid':firstname.valid}">
       
        <span class="invalid-feedback">
            <strong *ngIf="firstname.errors?.required">Name is Required</strong>
            <strong *ngIf="firstname.errors?.pattern">Only Alphabets allowed(A-Z and a-z)</strong>
            <strong *ngIf="firstname.errors?.minlength">Min length is 4 characters</strong>
            <strong *ngIf="firstname.errors?.maxlength">Max length is 16 characters</strong>
        </span>
    </div>
  
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" placeholder="Enter lastname" formControlName="lastname"
          [ngClass]="{'is-invalid':lastname.errors && (lastname.touched||lastname.dirty),'is-valid':lastname.valid}">
      
      <span class="invalid-feedback">
          <strong *ngIf="lastname.errors?.required">Name is Required</strong>
          <strong *ngIf="lastname.errors?.pattern">Only Alphabets allowed(A-Z and a-z)</strong>
          <strong *ngIf="lastname.errors?.minlength">Min length is 4 characters</strong>
          <strong *ngIf="lastname.errors?.maxlength">Max length is 16 characters</strong>
      </span>
  </div>
  
  
  <div class="form-group">
    <label>Driver Age</label>
    <input type="text" class="form-control" placeholder="Enter Driver Age" formControlName="driverage"
        [ngClass]="{'is-invalid':driverage.errors && (driverage.touched||driverage.dirty),'is-valid':driverage.valid}">
   
    <span class="invalid-feedback">
        <strong *ngIf="driverage.errors?.required">Age is Required</strong>
        <strong *ngIf="driverage.errors?.pattern">Age not Valid</strong>
       </span>
  </div>
  
  
  <div class="form-group">
    <label>Adhaar Number</label>
    <input type="text" class="form-control" placeholder="Enter the 12 digit aadhar number" formControlName="adhaarno"
        [ngClass]="{'is-invalid':adhaarno.errors && (adhaarno.touched||adhaarno.dirty),'is-valid':adhaarno.valid}">
    
    <span class="invalid-feedback">
        <strong *ngIf="adhaarno.errors?.required">12 Digit is Required</strong>
        <strong *ngIf="adhaarno.errors?.pattern">Pattern does not match</strong>
       </span>
  </div>
  
  
  
  
    <div class="form-group">
        <label>User E-mail</label>
        <input type="email" class="form-control" placeholder="Enter email" formControlName="useremail"
            [ngClass]="{'is-invalid':useremail.errors && (useremail.touched||useremail.dirty),'is-valid':useremail.valid}">
       
        <span class="invalid-feedback">
            <strong *ngIf="useremail.errors?.required">Email is Required</strong>
            <strong *ngIf="useremail.errors?.pattern">Wrong Pattern</strong>
            
        </span>
    </div>
  

    <div class="form-group">
        <label>User Password</label>
        <input type="password" class="form-control" placeholder="Enter password" formControlName="password"
            [ngClass]="{'is-invalid':password.errors && (password.touched||password.dirty),'is-valid':password.valid}">
       
        <span class="invalid-feedback">
            <strong *ngIf="password.errors?.required">Password is Required</strong>
            <strong *ngIf="password.errors?.pattern">Pattern is Wrong</strong>
            
        </span>
    </div>
 
    <div class="form-group">
        <label>Mobile</label>
        <input type="text" class="form-control" placeholder="Enter Mobile" formControlName="mobile"
            [ngClass]="{'is-invalid':mobile.errors && (mobile.touched||mobile.dirty),'is-valid':mobile.valid}">
      
        <span class="invalid-feedback">
            <strong *ngIf="mobile.errors?.required">Mobile number is Required</strong>
        </span>
    </div>
  
    
    
               <br>
                <button type="submit" class="btn btn-warning">Register</button>
                <div class="text-center ms-mt-x ms-mb-m register-already-account" style="padding-top:30px">
                    <span class="ms-fs-12 ng-binding">Already have an account?
                        <a class="secondary ng-binding" href="login">
                            Login!
                        </a>
                    </span>
                </div>
            </form>
       
    

